body {
    background: url("../images/concrete_wall.png") repeat;
    font-family:  'East Sea Dokdo', cursive;
    font-size: 30px;
    line-height: 15px;
}


.container-fluid {
    margin-top: 30px;
}

.btn-sm {
    margin: 5px;
    font-size: 20px;
}

.gify-image {
    padding: 5px;
    float: left;
    height: 100px;
    width: 200px;
}

.poster-area {
    padding: 0;
}

.user-poster-area {
    padding: 0;
}

.poster-image {
    height: 560px;
    width: 300px;
    padding-bottom: 15px;

}

input {
    width: 50%;
}

.gify-rating {
    font-size: 20px;
    color: aliceblue;
    margin: 0;
}

#smaller-text {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}